<html>
  <head>
    <title>Bora Bora</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='home.css') }}"
    />
  </head>
  <body>
    <div class="header">
      <h1>Seja bem vindo, {{ usuario }}!</h1>
      <p>A Bora Bora agradece o seu acesso.</p>
    </div>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul id="messages" class="flashes">
      {% for message in messages %}
      <li class="alert alert-success">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <form action="{{ url_for('lista_eventos') }}" method="get">
      <input type="submit" class="button1" value="Ver Eventos" />
    </form>
    <form action="{{ url_for('sign_out') }}" method="get">
      <input type="submit" class="button1" value="Sign-out" />
    </form>
    <form action="{{ url_for('editar_conta') }}" method="get">
      <input type="submit" class="button1" value="Editar conta" />
    </form>
    <form action="{{ url_for('excluir_conta') }}" method="get">
      <input type="submit" class="button1" value="Excluir conta" />
    </form>
  </body>
</html>
